@import "tailwindcss";

:root {
  /* Fonts */
  --font-heading: var(--font-sora);
  --font-body: var(--font-inter);

  /* CoreX Colors */
  --background: #090909;
  --background-secondary: #111111;
  --card: #161616;
  --card-hover: #1d1d1d;

  --primary: #ef1b23;
  --primary-hover: #ff2932;

  --foreground: #ffffff;
  --foreground-muted: #a1a1aa;

  --border: #272727;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: var(--font-heading);
}

button,
a {
  -webkit-tap-highlight-color: transparent;
}